@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;500;600;700;800;900;1000&display=swap");

/* Common styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  /* 10px, because the default font size of html element is 16px */
}

.section-heading {
  font-size: 12rem;
  font-weight: 900;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.5rem;
  text-shadow: 0.3rem 0.3rem 0.3rem #000;
}

/* End of Common styles */

/* Section-1 */
.section-1 {
  width: 100%;
  height: 100vh;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.section-1-icons i {
  font-size: 35rem;
  color: #a79a2d;
  position: absolute;
  transform: translate(-50%, -50%) scale(0);
  text-shadow: 0.2rem 0.2rem 0.2rem #000;
  transition: transform 0.35s;
}

.section-1-icons i.change {
  transform: translate(-50%, -50%) scale(1);
}

/* End of Section-1 */


/* Section-2 */
.section-2 {
  width: 100%;
  height: 100vh;
  background-color: #222;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10rem 0;
}

.cards-container {
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 30rem;
  background-color: #a79a2d;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1rem 1rem 1rem #000;
  position: relative;
  transform: rotateY(20deg) skewX(-2deg);
  transition: transform 0.5s, box-shadow 0.5s;
}

.card::before {
  content: "";
  height: 100%;
  width: 1rem;
  background-color: #817824;
  position: absolute;
  top: 0;
  left: -1rem;
  transform: skewY(45deg);
  transform-origin: right;
  box-shadow: -0.1rem -0.1rem 0.1rem #000;
}

.card::after {
  content: "";
  height: 1rem;
  width: 100%;
  background-color: #8f8317;
  position: absolute;
  top: -1rem;
  left: 0;
  transform: skewX(45deg);
  transform-origin: bottom;
  box-shadow: -0.1rem -0.1rem 0.1rem #000;
}

.card:hover {
  transform: rotateY(20deg) skewX(-2deg) translateY(-3rem);
  box-shadow: 2rem 2rem 2rem #000;
}

.card-img {
  width: 100%;
}

.card-name {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: #111;
  margin: 2rem 0;
  text-shadow: 0.15rem 0.15rem 0.15rem #111;
}

.card-btn {
  width: 70%;
  background-color: #111;
  color: #888;
  border-radius: 5rem;
  font-weight: 800;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  border: none;
  padding: .5rem;
  cursor: pointer;
  box-shadow: -0.2rem -0.2rem 0.2rem #000;
}

/* End of Section-2 */

/* Section-3 */
.section-3 {
  background-color: #333;
  padding: 5rem 0;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10rem;
}

.gallery-link {
  position: relative;
  margin: 4rem 1rem;
}

.gallery-link::before {
  content: "";
  position: absolute;
  top: 2vw;
  left: 80%;
  width: 0.2rem;
  height: 0;
  background-color: #fff;
  z-index: 10;
  /* Because the vertical line is not quite visible */
  transition: height .5s;
}

.gallery-link::after {
  content: "";
  position: absolute;
  top: 30%;
  left: 2rem;
  width: 0;
  height: 0.2rem;
  background-color: #fff;
  transition: width .5s;
}

.gallery-link:hover::before {
  height: 80%;
}

.gallery-link:hover::after {
  width: 90%;
}

.food-name {
  position: absolute;
  top: 3rem;
  left: 3rem;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #fff;
  width: 0;
  overflow: hidden;
  transition: width 0.3s;
}

.gallery-link:hover .food-name {
  width: 100%;
  transition: width 1.5s .5s;
}

.food-img {
  width: 24vw;
  height: 15vw;
  object-fit: cover;
  box-shadow: 0.3rem 0.3rem 0.1rem #e92929,
    0.5rem 0.5rem 0.1rem #a2e946,
    0.7rem 0.7rem 0.1rem #297ce9,
    0.9rem 0.9rem 0.1rem #e92999;
  transition: all .5s;
}

.gallery-link:hover .food-img {
  width: 24vw;
  height: 15vw;
  object-fit: cover;
  box-shadow: 1em 1rem #e92929,
    2rem 2rem 0.1rem #a2e946,
    3rem 3rem 0.1rem #297ce9,
    4rem 4rem 0.1rem #e92999;
  filter: blur(0.5rem);
  opacity: 0.5;
  transform: scale(1.1);
}

.food-description {
  position: absolute;
  bottom: 3vw;
  left: 2rem;
  width: 70%;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}

.gallery-link:hover .food-description {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s 1s;
}

/* End of Section-3 */

/* Section-4 */
.section-4 {
  width: 100%;
  height: 30vh;
  background-color: #222;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 3rem 0;
  position: relative;
}

.section-4-text {
  text-transform: uppercase;
}

.section-4-heading {
  font-size: 4rem;
  font-weight: 900;
  color: #a79a2d;
}

.section-4-paragraph {
  font-size: 1.5rem;
  color: #888;
}

.signup-form {
  display: flex;
  align-items: center;
}

.signup-form-input {
  width: 35rem;
  height: 5rem;
  padding: 1rem;
  border: 0.2rem solid #a79a2d;
  font-weight: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: #a79a2d;
}

.signup-form-input::placeholder {
  color: #a79a2d;
}

.signup-form-btn {
  position: relative;
  left: -4.5rem;
  width: 4rem;
  height: 4rem;
  background-color: #333;
  color: #a79a2d;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
}

.copyright {
  position: absolute;
  bottom: 3rem;
  font-size: 1.7rem;
  font-weight: 200;
  color: #eee;
  letter-spacing: 0.1rem;
  border-top: 0.1rem solid #888;
  padding-top: 6rem;
  width: 100%;
  text-align: center;
}

/* End of Section-4 */